pipeline/pipeline/09_pl_ArrayOfChildItems_string.json
{
	"name": "09_pl_ArrayOfChildItems_string",
	"properties": {
		"description": "Convert array of child items to string with ; separated value for each\n",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_ouput_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_file",
								"value": {
									"value": "@concat(item().name,'|',variables('FileList'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "filename_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileList",
								"value": {
									"value": "@variables('temp_file')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileList": {
				"type": "String"
			},
			"temp_file": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Self"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-09T15:29:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}