pipeline/pipeline/24_pl_Ingestion_Product_Addres_To_JSON.json
{
	"name": "24_pl_Ingestion_Product_Addres_To_JSON",
	"properties": {
		"description": "This will copy all the product records as JSON only if total number of records >10. After that check total record count in address table if they are greater than 100 then copy the adress table data as CSV in ADLS",
		"activities": [
			{
				"name": "Lookup address count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(1) RecCnt FROM SalesLT.Address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_Address",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Address cnt greater than 100",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup address count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup address count').output.firstRow.RecCnt,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy address",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_AzureSQL_Address",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_address_csv",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Mission_ADE"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-03T14:04:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}