pipeline/pipeline/33_pl_foreach_customer_customerCopy.json
{
	"name": "33_pl_foreach_customer_customerCopy",
	"properties": {
		"description": "whenever we have more than 100 records in the customer table, we copy the customer data to another table customer_copy within the sql db. \nHowever, whenever we do this copy, we first truncate the table 'customer_copy' and then copy the data from 'customer' table",
		"activities": [
			{
				"name": "Get customer count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(1) AS Cnt FROM SalesLt.Customer \n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Count greater than 100",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get customer count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get customer count').output.firstRow.Cnt,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy customer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE SalesLt.customer_copy",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_AzureSQL_Generic",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSQL_Generic",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "customer_copy"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Mission_ADE"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-03T16:14:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}