pipeline/pipeline/44_pl_incremental_watermark_table.json
{
	"name": "44_pl_incremental_watermark_table",
	"properties": {
		"activities": [
			{
				"name": "RunTimeMetrics",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(maxModifieddate) maxModifieddate FROM SalesLT.RunTimeMetrics WHERE TableName = 'Customer_incremental_destination'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_Generic",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "RunTimeMetrics"
						}
					}
				}
			},
			{
				"name": "Customer_incremental_Source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(Modifieddate) maxModifieddate FROM SalesLT.Customer_incremental_Source ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_Generic",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "RunTimeMetrics"
						}
					}
				}
			},
			{
				"name": "If Any modified records",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "RunTimeMetrics",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Customer_incremental_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Customer_incremental_Source').output.firstRow.maxModifieddate, activity('RunTimeMetrics').output.firstRow.maxModifieddate)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM SalesLT.Customer_incremental_Source WHERE ModifiedDate >= '@{activity('RunTimeMetrics').output.firstRow.maxModifieddate}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"CustomerID"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_AzureSQL_Generic",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "Customer_incremental_Source"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSQL_Generic",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "Customer_incremental_destination"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Update Latest Date from Source",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Any modified records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "UPDATE SalesLT.RunTimeMetrics  SET maxModifieddate = '@{activity('Customer_incremental_Source').output.firstRow.maxModifieddate}' \nWHERE TableName = 'Customer_incremental_destination'\nSELECT 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_Generic",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "SalesLT.RunTimeMetrics"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Mission_ADE"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-05T10:07:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}