pipeline/00_pl_ingest_population_by_age.json
{
	"name": "00_pl_ingest_population_by_age",
	"properties": {
		"description": "Copy data (gz file to unzipped ) from blob to data lake.",
		"activities": [
			{
				"name": "Copy data from blob to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check if file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_blob_landing_raw_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_raw_covid_19_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "population_by_age.tsv",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Check if file exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_landing_raw_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "If Column Cnt gretaer than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check column count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check column count').output.columnCount,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_blob_landing_raw_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Check column count",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data from blob to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_raw_covid_19_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"filename": "population_by_age.tsv"
						}
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string",
				"defaultValue": "population_by_age.tsv.gz"
			}
		},
		"folder": {
			"name": "Covid_19"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-13T10:09:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}