pipeline/23_pl_Ingestion_Product_To_JSON.json
{
	"name": "23_pl_Ingestion_Product_To_JSON",
	"properties": {
		"description": "This will copy all the product records as JSON only if total number of records >10.",
		"activities": [
			{
				"name": "Lookup product count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(1)  AS RecCnt FROM SalesLt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQL_product",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check if Rec Cnt greater than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup product count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup product count').output.firstRow.RecCnt,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy product",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_AzureSQL_product",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_product_json",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Execute address pl_24",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy product",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "24_pl_Ingestion_Product_Addres_To_JSON",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Mission_ADE"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-03T13:57:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}